<hr style="max-width: 40%; margin-top: 150px;">

<div class="about-page">
  <div class="mx-auto text-center relative">
    <h1>ABOUT ME</h1>
  </div>
  <!-- two card items -->
  <div class="flex justify-content-around mx-auto">
    <!-- First Card Item -->
    <div class="card flex justify-content-center">
      <p-card header="PERSONAL INFO" [style]="{ width: '660px', height:'440px' }" styleClass="black-card">
        <!-- Personal Info Content  -->
        <!-- 1st div -->
        <div class="flex-basis inline-block">
          <div class="pb-6">
            <span class="opacity-80">First Name:</span>
            <span class="font-semibold">Yellapragada</span>
          </div>

          <div class="pb-6">
            <span class="opacity-80">Last Name:</span>
            <span class="font-semibold">Rama Rao</span>
          </div>

          <div class="pb-6">
            <span class="opacity-80">Age:</span>
            <span class="font-semibold">23</span>
          </div>

          <div class="pb-6">
            <span class="opacity-80">Nationality:</span>
            <span class="font-semibold">Indian</span>
          </div>
        </div>

        <!-- 2nd div -->
        <div class="flex-basis inline-block pl-4">
          <div class="pb-6">
            <span class="opacity-80">Address:</span>
            <span class="font-semibold">Hyderabad</span>
          </div>

          <div class="pb-6">
            <span class="opacity-80">Email:</span>
            <span class="font-semibold"
              >yellapragada.ramarao&#64;gmail.com</span
            >
          </div>

          <div class="pb-6">
            <span class="opacity-80">Linedin:</span>
            <span class="font-semibold">linkedin.com</span>
          </div>

          <div class="pb-6">
            <span class="opacity-80">Languages:</span>
            <span class="font-semibold">English, Hindi, Telugu</span>
          </div>
        </div>

        <!-- Button -->

        <div class="card pl-1 justify-content-center">
          <p-button
            label="DOWNLOAD CV"
            styleClass="button-class"
            [rounded]="true"
          ></p-button>
        </div>
      </p-card>
    </div>

    <!-- Second Card Item -->
    <p-card [style]="{ width: '560px', height: '440px' }" styleClass="black-card">
      <div
        class="flex flex-wrap-reverse md:flex-wrap ml-5"
        style="max-width: 500px"
      >
        <div
          class="flex align-items-center font-bold m-2 border-round wrap"
          style="min-width: 220px; min-height: 120px"
        >
          <div style="padding-left: 10px">
            <div
              style="
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 25px;
              "
            >
              <h3
                style="
                  color: #ffb400;
                  font-weight: 700;
                  font-size: 50px;
                  margin: 0;
                "
              >
                12
              </h3>
              <p
                class="pi pi-minus font-medium text-lg"
                style="padding-left: 2px"
              >
                Years of
                <span class="block">experience</span>
              </p>
            </div>
          </div>
        </div>

        <div
          class="flex align-items-center font-bold m-2 border-round wrap"
          style="min-width: 220px; min-height: 120px"
        >
          <div style="padding-left: 10px">
            <div
              style="
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 25px;
              "
            >
              <h3
                style="
                  color: #ffb400;
                  font-weight: 700;
                  font-size: 50px;
                  margin: 0;
                "
              >
                12
              </h3>
              <p
                class="pi pi-minus font-medium text-lg"
                style="padding-left: 2px"
              >
                Years of
                <span class="block">experience</span>
              </p>
            </div>
          </div>
        </div>

        <div
          class="flex align-items-center font-bold m-2 border-round wrap"
          style="min-width: 220px; min-height: 120px"
        >
          <div style="padding-left: 10px">
            <div
              style="
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 25px;
              "
            >
              <h3
                style="
                  color: #ffb400;
                  font-weight: 700;
                  font-size: 50px;
                  margin: 0;
                "
              >
                12
              </h3>
              <p
                class="pi pi-minus font-medium text-lg"
                style="padding-left: 2px"
              >
                Years of
                <span class="block">experience</span>
              </p>
            </div>
          </div>
        </div>

        <div
          class="flex align-items-center font-bold m-2 border-round wrap"
          style="min-width: 220px; min-height: 120px"
        >
          <div style="padding-left: 10px">
            <div
              style="
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 25px;
              "
            >
              <h3
                style="
                  color: #ffb400;
                  font-weight: 700;
                  font-size: 50px;
                  margin: 0;
                "
              >
                12
              </h3>
              <p
                class="pi pi-minus font-medium text-lg"
                style="padding-left: 2px"
              >
                Years of
                <span class="block">experience</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>


  <hr style="max-width: 40%; margin-top: 150px;">

  <!-- My Skills -->
  <div class="mx-auto text-center relative py-8">
    <h1 class="text-3xl font-semibold">MY SKILLS</h1>
  </div>

  <div class="flex flex-wrap py-5" style="padding-left:170px;">
    <div class="card mb-7" style="width: 25%; ">
      <p-knob
        [(ngModel)]="value1"
        [readonly]="true"
        valueTemplate="{{ value1 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 38px;">Html</h3>
    </div>

    <div class="card"  style="width: 25%;">
        <p-knob
        [(ngModel)]="value2"
        [readonly]="true"
        valueTemplate="{{ value2 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 38px;">CSS</h3>
    </div>

    <div class="card"  style="width: 25%;">
        <p-knob
        [(ngModel)]="value3"
        [readonly]="true"
        valueTemplate="{{ value3 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 50px;">JS</h3>
    </div>

    <div class="card"  style="width: 25%;">
        <p-knob
        [(ngModel)]="value4"
        [readonly]="true"
        valueTemplate="{{ value4 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 38px;">ANGULAR</h3>
    </div>

    <div class="card" style="width: 25%; ">
        <p-knob
        [(ngModel)]="value5"
        [readonly]="true"
        valueTemplate="{{ value5 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 38px;">REACT</h3>
      </div>

      <div class="card" style="width: 25%; ">
       <p-knob
        [(ngModel)]="value6"
        [readonly]="true"
        valueTemplate="{{ value6 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 38px;">GIT</h3>
      </div>

      <div class="card" style="width: 25%; ">
        <p-knob
        [(ngModel)]="value7"
        [readonly]="true"
        valueTemplate="{{ value7 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 0px;">WORDPRESS</h3>
      </div>

      <div class="card" style="width: 25%; ">
        <p-knob
        [(ngModel)]="value8"
        [readonly]="true"
        valueTemplate="{{ value8 }}"
        [size]="120"
        [strokeWidth]="9"
        valueColor="#ffb400"
      ></p-knob>
      <h3 class="text-white font-medium" style="margin-left: 38px;">SQL</h3>
      </div>

</div>

</div>
