<hr style="max-width: 40%; margin-top: 150px;">

<div class="mx-auto text-center relative py-8">
    <h1 class="text-3xl font-semibold text-white">MY PROJECT</h1>
</div>


<div class="grid" style="margin-left: 10%; margin-right: 10%;">
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
  <div class="col-4">
      <div class="flex align-items-center justify-content-center p-3 border-round-sm bg-primary font-bold grid-items"></div>
  </div>
</div>

