<div class="main">
    <!-- <div class="color-block"></div> -->
    <div class="row home-details-container align-items-center">
      <div
        class="col-lg-4 bg position-absolute d-lg-block"
        style="background-image: url('../assets/img/profile-pic.jpg')"
      ></div>
      <div class="col-lg-8 home-details offset-lg-4 text-lg-start">
        <div>
          <h1>I'M Rama Rao</h1>
          <p class="open-sans-font">
            I'm a Indian based web designer & front-end developer focused on
            crafting clean & user-friendly experiences, I am passionate about
            building excellent software that improves the lives of those around
            me.
          </p>
          <button class="button">
            <span class="button-text">more about me</span>
          </button>
        </div>
      </div>
    </div>
</div>
